* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

:root {
  --marrom-escuro: #4B3832;      /* Fundo do header/rodapé */
  --bege-claro: #FFF8F0;         /* Fundo geral da página */
  --marrom-amadeirado: #D9B382;  /* Botões, destaques */
  --branco-gelo: #FDFCFB;        /* Textos leves, contraste */
  --cinza-suave: #DDD1C7;        /* Bordas, fundos de input */
}

body {
  background-color: var(--bege-claro);
  padding-top: 100px; /* Compensa o header fixo */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--marrom-escuro);
  padding: 30px 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.container-header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  height: 60px;                /* controla a altura dentro do header */
  width: auto;
  transform: scale(2.2);       /* aumenta visualmente a imagem */
  transform-origin: left center;
  display: block;
  
  filter: brightness(1.5) contrast(1.2);

}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px 0;
  background-color: #fef6e5;
  gap: 30px;
  background-image: url(logo-aurora.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 500px;
}

.hero h1 {
  font-size: 3rem;
  color: var(--marrom-escuro);
  line-height: 1.2;
}

.hero p {
  font-size: 1.25rem;
  color: var(--marrom-amadeirado);
  margin-bottom: 20px;
}

.hero button {
  background-color: var(--marrom-amadeirado);
  color: var(--branco-gelo);
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero button:hover {
  background-color: var(--marrom-escuro);
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.menu a {
  color: var(--branco-gelo);
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.menu a:hover {
  text-decoration: underline;
  color: var(--marrom-amadeirado);
}

footer {
  background-color: var(--marrom-escuro);
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

footer p {
  color: var(--marrom-amadeirado);
}
#cardapio{
  background-color:#644d47;
}
.redes-sociais {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
}

.redes-sociais a {
  color: var(--marrom-amadeirado);
  text-decoration: none;
  font-weight: bold;
}

.redes-sociais a:hover {
  color: var(--bege-claro);
}

.redes-sociais i {
  margin-right: 4px;
}